mixin nav(nav)
  nav(class='nav nav-'+nav.menuName)
    header(class='nav-title nav-'+nav.menuName+'-title')
      h2 #{nav.menuTitle}
    ul(class='nav-menu nav-'+nav.menuName+'-menu')
      each link in nav.menuLinks
        li(class='nav-menu-item nav-'+nav.menuName+'-menu-item')
          - var _type = link.type || ''
          if !link.menuLinks
            a(
              class='nav-menu-link nav-'+nav.menuName+'-menu-link '+ _type,
              href=link.url)= link.text
          else
            a(
              class='nav-menu-link nav-'+ nav.menuName +'-menu-link ',
              href='#',
              data-toggleLevel='1')= link.text
            // - Level 1
            .submenu(data-level="1")
              a.submenu-title(data-togglelevel="1")= link.text
              ul.submenu-menu
                each link1 in link.menuLinks
                  li.submenu-item
                    a.submenu-link(
                      href='#',
                      data-toggleLevel='2')= link1.text
                    // - Level 2
                    if link1.menuLinks
                      .submenu(data-level="2")
                        a.submenu-title(data-togglelevel="2")= link1.text
                        ul.submenu-menu
                          each link2 in link1.menuLinks
                            li.submenu-item
                              a.submenu-link(
                              href='#',
                              data-toggleLevel='3')= link2.text
                              // - Level 3
                              if link2.menuLinks
                                .submenu(data-level="3")
                                  a.submenu-title(data-togglelevel="3")= link2.text
                                  ul.submenu-menu
                                    each link3 in link2.menuLinks
                                      li.submenu-item
                                        a.submenu-link(href=link2.url)= link2.text
